[project]
	description = for iotthoughts
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/iotthoughts
[access "refs/for/refs/*"]
	read = group user/iotthoughts
	push = group user/iotthoughts
	label-Code-Review = -2..+2 group user/iotthoughts
	label-Verified = -1..+1 group user/iotthoughts
	rebase = group user/iotthoughts
	removeReviewer = group user/iotthoughts
	submit = group user/iotthoughts
[access "refs/heads/*"]
	read = group user/iotthoughts
	create = group user/iotthoughts
	push = +force group user/iotthoughts
	pushMerge = group user/iotthoughts
[access "refs/tags/*"]
	push = +force group user/iotthoughts
	pushTag = group user/iotthoughts
	pushSignedTag = group user/iotthoughts
